<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/main.js" defer></script>

  </head>
  <body>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <nav class="navbar navbar-custom navbar-expand-lg">
        <div class="container">
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <img  src="/images/mylogo.png" id="logo" alt="Logo" width="15" height="15">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="homeejs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutejs">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="projectejs">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="serviceejs">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="contactejs">Contact Me</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
         
          
    <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3">
            <div class="card" >
                <img src="\images\fitness.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fitness</h5>
                  <p class="card-text">We develop an app that help users to track their nutrition level of human body </p>
                  <a href="http://befitnepal.com/" target="_blank" class="btn btn-primary">Learn more</a>
                </div>
              </div>
           </div>
          </div>
          <div class="col">
            <div class="p-3">
                <div class="card" >
                    <img src="\images\bus.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Hamro Yatayat</h5>
                      <p class="card-text">I'm planning develop an app where people can purchase the tickets for the bus and check the bus routes and timings</p>
                      
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>


          </div>
      
          <style>
            body {
        background-color: #f8f9fa;
        color: #343a40;
        font-family: 'Arial', sans-serif;
    }
    
    .navbar-custom {
        background-color: #333431;
        border-bottom: 1px solid #ffffff;
    }

    .navbar-custom .navbar-brand {
        color: #ffffff;
        font-weight: bold;
    }

    .navbar-custom .navbar-toggler-icon {
        background-color: #ffffff;
    }
   
    .navbar-custom .navbar-toggler:focus,
    .navbar-custom .navbar-toggler:active {
        outline: none;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: #ffffff;
        font-weight: bold;
    }

    .navbar-custom .navbar-nav .nav-link:hover {
       background-color: #3aae2a; 
    }
    .h4-about{
        margin-top: 1.8em;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        color: #b57118;
    }
    #color{
        color: #b57118;
    }
     </style>
  </body>
</html>